@import '../sass/variables.scss';

.nav {
  padding: 1rem 0;

  display: grid;
  grid-template-columns: 15% 1fr repeat(2, min-content) 15%;

  background-color: $color-primary;
  &__brand {
    width: max-content;
    font-size: $font-xl;
    letter-spacing: 0.1rem;
    color: $color-secondary;
    grid-column: 2 / 3;
    align-self: center;
  }

  &__link {
    font-size: $font-m;
    letter-spacing: 0.2rem;
    color: $color-white;
    padding: 1rem 2.4rem;
  }
}
